*.pem
examples/sample-files/*.md
gitlab-compliance/
dist/
public/
site/
gitlab_compliance/__pycache__/
megalinter-reports
__pycache__
.coverage
!.coveragerc
reports
.trunk/
trunk/
__pycache__/
reports/
# .venv/
# .pytest_cache/
# .cache/
# dist/
# .coverage
# gitlab-compliance-swagger.md
# gitlab-compliance.html
